html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    position: absolute;
}

body, input {
    font: menu;
}

h1 {
    font-size: 1.5em;
}

.full-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
    padding-left: -15px;
    padding-right: -15px;
}

.banner {
    background-color: rgb(229, 229, 229);
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 100vw;
}

textarea, input, div, button {
    outline: none;
    margin: 0;
}

.session-folder-form {
    min-width: 100vw;
}

.controls {
    background-color: rgb(217, 241, 238);
    padding: 10px 10px 10px 10px;
    min-width: 100vw;
}

button {
    font-size: 14px;
    background-color: rgb(181, 220, 216);
    border: none;
    padding: 0.5em 1em;
}

button:hover {
    background-color: rgb(156, 198, 192);
}

button:active {
    background-color: rgb(144, 182, 177);
}

button:disabled {
    background-color: rgb(196, 204, 202);
}

.session-folders {
    background-color: rgb(229, 229, 229);
    display: flex;
    min-width: 100vw;
    padding: 10px 10px 10px 10px;
}

.session-folders label {
    font-weight: bold;
}

.message-display {
    min-width: 100vw;
}

.sessions {
    height: 100vh;
    display: flex;
    padding: 10px 10px 10px 10px;
}
